
.fifth a:hover{
	color:black;
	opacity:.5;
	cursor:pointer;
}
.fifth a:active{
	background-color:blue;
}
.sixth h1,h4{
	text-align:center;
}
.sixth .c1{
	width:300px;height:auto;
	float:left;
	
}
.sixth .c1 input{
	padding:0 10px;
	margin:0 80px;
}
.c1 input{
	padding:0 10px;
	margin:0 130px;
}
.r1:after{
	content:"";
	clear:both;
	display:table;
}
.c1{
	background-color:white;
	padding:40px 10px;
	width:380px;
	margin:20px 50px;
	float:left;
	height:230px;
}
.fifth h1,h3{
	text-align:center;
}

.fifth{
	background-color:#616161;
	
}
.mid3{
	text-align:center;
}

.colmn3{
	width: 50%;
	float:left;
	padding:20px;
	/* padding-right:75px; */
}
.row3::after{
	content:"";
	display:table;
	clear:both;
}

.rightt3{
	float:left;
	
	background-color:#f1f1f1;
	height:auto;
	width: 100%;
	padding:30px;
	border-radius:1px solid;
}
.code3{
	border-left:4px solid green;
	font-size:15px;
	width: auto;
	padding:15px;
	background-color:white;
}
.second{
background-color:#f1f1f1 !important;
height:auto;
/* margin:-8px ; */
padding:30px;
}
*{
	box-sizing:border-box;
	margin:-1px;
}
body{
	min-width:500px;
}
.upp{
padding:30px;
}

.upp p{
	float:right;
}
.navbar{
	background-color: #4CAF50 !important;
	overflow:hidden;
	letter-spacing:3px;
	
}
.navbar a,i{
	 float: left;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover{
	color:red;
	background-color:white;
	border:1px;
}
.right {
	float:right;
}
.side{
	flex:15%;
	box-shadow: 0 3px 30px #999999;
	/* height:1000px; */
}
.main{
	flex:80%;
	padding:15px 10px;
}
.mid{
	text-align:center;
}
.row{
	display:flex;
	height:auto;width:100%;
}

.colmn{
	width:50%;
	float:left;
	padding:20px;	
	
}

h5{
opacity:0;
}
.rightt{

		background-color:#f1f1f1;
	height:auto;width:auto;
	padding:30px;
	box-shadow:10px 10px 10px ;
	border-radius:1px solid;
}
.code{
	border-left:4px solid green;
	font-size:15px;
	width:auto;padding:15px;
	background-color:white;
}
input{
background-color:gray;
height:37px;
color:white;
border:1px solid white;
margin:2px;
}
input:hover{
color:black;
background-color:#f1f1f1;

cursor:pointer;
}
input:active{
	color:yellow;
	background-color:blue;
}
button{
background-color:green;
height:30px;color:white;
border:1 px solid white;
}
button:hover{
background-color:#f1f1f1;
color:black;
}
button:active{
background-color:blue;
color:white;
}